In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
# path = r'C:\Users\jing\Desktop\不良品废品日报表.xlsx(2).xlsx'

In [ ]:
# df1 = pd.read_excel(path, sheet_name=0, header=1, skipfooter=11)
# # df1 = df1[(df1['日期']>=2.26) & (df1['日期']<=5.20)]
# df1.head()

In [ ]:
# df2 = pd.read_excel(path, sheet_name=1, header=1, skipfooter=13)
# df2.head()

In [ ]:
# df1[['不良率','废品率']].sum().values

In [ ]:
# df2[['不良率','废品率']].sum()

In [ ]:
# df1.groupby(['零件号']).sum()[['不良率','废品率']].sort_values('废品率',ascending=False).reset_index().values

In [ ]:
# df1.groupby(['工序简称']).sum()[['不良率','废品率']].sort_values('废品率', ascending=False).head().reset_index().values

In [ ]:
# df1.groupby(['零件号','工序简称']).sum()[['不良率','废品率']].loc['STL'].sort_values('废品率',ascending=False).head().reset_index().values

In [ ]:
# df1['原因'].value_counts().head(10)

In [ ]:
# df1['工序简称'].value_counts().head(10)

In [ ]:
# df1['零件号'].value_counts().head(10)

In [ ]:
path1 = r"C:\Users\jing\Desktop\app\Pump Demo\Pump Training Data.csv"
path2 = r"C:\Users\jing\Desktop\app\Pump Demo\Pump Test Data.csv"

In [ ]:
df = pd.read_csv(path1).iloc[4:,1:]
df = df.astype('float')
df.head()

In [ ]:
dftest = pd.read_csv(path2).iloc[4:,1:]
dftest = dftest.astype('float')
dftest.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import KDTree

scaler = StandardScaler()
x = scaler.fit_transform(df)
# x = df
y = scaler.fit_transform(dftest)
# y = np.array(dftest)
d = pairwise_distances(x,y)

In [ ]:
d

In [ ]:
d.shape

In [ ]:
np.sort(d[:,0])

In [ ]:
s = []
for i in range(d.shape[1]):
    s.append(np.sqrt(((1/(d[:,i]+1))**2).sum()))

In [ ]:
plt.plot(s)

In [ ]:
r =[]
for i in range(d.shape[1]):
    r.append(d[:,i]/np.sqrt((d[:,i]**2).sum()))

In [ ]:
rr = []
for i in range(len(r)):
    rr.append(r[i].min())

In [ ]:
h = [1-i for i in rr]
plt.figure(figsize=(16,8))
plt.plot(h)

In [ ]:
tree = KDTree(x)
tree.query(y[0].reshape(1,-1),k=3)

In [ ]:
r = []
for i in range(len(y)):
    r.append(cosine_similarity(x,y[i:i+1]).max())

In [ ]:
plt.plot(r)

In [15]:
import sqlalchemy
import pymssql


# 连接Microsoft SQL Server数据库
conn = sqlalchemy.create_engine('mssql+pymssql://sa:123456@192.168.1.95/LSDB?charset=cp936')  # charset=cp936解决了数据库编码为GBK时，数据读取中文乱码的问题

In [31]:
sql = "select * from table1 where name like ('%Brand\Brand22%')"
# sql = "select * from table1 where name like ('%pres\mlp_R%')"
# sql = "select * from table1 where name like ('%sevo\%')"
# sql = "select * from table1"
df = pd.read_sql(sql, conn)
df

,Name,pv,dt
0,Brand\Brand22\line3 ...,66.0,2018-12-21 15:32:55
1,Brand\Brand22\line3 ...,66.0,2018-12-21 15:33:15
2,Brand\Brand22\line3 ...,66.0,2018-12-21 15:33:35
3,Brand\Brand22\line3 ...,66.0,2018-12-21 15:33:55
4,Brand\Brand22\line3 ...,66.0,2018-12-21 15:34:15
5,Brand\Brand22\line3 ...,66.0,2018-12-21 15:34:35
6,Brand\Brand22\line3 ...,66.0,2018-12-21 15:34:55
7,Brand\Brand22\line3 ...,66.0,2018-12-21 15:35:15
8,Brand\Brand22\line5 ...,110.0,2018-12-21 15:07:12
9,Brand\Brand22\line5 ...,110.0,2018-12-21 15:07:32
10,Brand\Brand22\line5 ...,110.0,2018-12-21 15:07:52
11,Brand\Brand22\line5 ...,110.0,2018-12-21 15:08:12
12,Brand\Brand22\line5 ...,110.0,2018-12-21 15:08:32
13,Brand\Brand22\line5 ...,110.0,2018-12-21 15:08:52
14,Brand\Brand22\line5 ...,110.0,2018-12-21 15:09:12
15,Brand\Brand22\line5 ...,110.0,2018-12-21 15:09:32
16,Brand\Brand22\line5 ...,110.0,2018-12-21 15:09:52
17,Brand\Brand22\line5 ...,110.0,2018-12-21 15:10:12
18,Brand\Brand22\line5 ...,110.0,2018-12-21 15:10:32
19,Brand\Brand22\line5 ...,110.0,2018-12-21 15:10:52
20,Brand\Brand22\line5 ...,110.0,2018-12-21 15:11:12
21,Brand\Brand22\line5 ...,110.0,2018-12-21 15:11:33
22,Brand\Brand22\line5 ...,110.0,2018-12-21 15:11:53
23,Brand\Brand22\line5 ...,110.0,2018-12-21 15:12:13
24,Brand\Brand22\line5 ...,110.0,2018-12-21 15:12:33
25,Brand\Brand22\line5 ...,110.0,2018-12-21 15:12:53
26,Brand\Brand22\line5 ...,110.0,2018-12-21 15:13:13
27,Brand\Brand22\line5 ...,110.0,2018-12-21 15:13:33
28,Brand\Brand22\line5 ...,110.0,2018-12-21 15:13:53
29,Brand\Brand22\line5 ...,110.0,2018-12-21 15:14:13
...,...,...,...
1223,Brand\Brand22\line6 ...,75.0,2018-12-21 15:50:56
1224,Brand\Brand22\line6 ...,75.0,2018-12-21 15:51:16
1225,Brand\Brand22\line6 ...,75.0,2018-12-21 15:51:36
1226,Brand\Brand22\line6 ...,75.0,2018-12-21 15:51:56
1227,Brand\Brand22\line6 ...,75.0,2018-12-21 15:52:16
1228,Brand\Brand22\line6 ...,75.0,2018-12-21 15:52:36
1229,Brand\Brand22\line6 ...,75.0,2018-12-21 15:52:56
1230,Brand\Brand22\line6 ...,75.0,2018-12-21 15:53:16
1231,Brand\Brand22\line6 ...,75.0,2018-12-21 15:53:36
1232,Brand\Brand22\line6 ...,75.0,2018-12-21 15:53:56
1233,Brand\Brand22\line6 ...,75.0,2018-12-21 15:54:16
1234,Brand\Brand22\line6 ...,75.0,2018-12-21 15:54:36
1235,Brand\Brand22\line6 ...,75.0,2018-12-21 15:54:56
1236,Brand\Brand22\line6 ...,75.0,2018-12-21 15:55:16
1237,Brand\Brand22\line6 ...,75.0,2018-12-21 15:55:36
1238,Brand\Brand22\line6 ...,75.0,2018-12-21 15:55:56
1239,Brand\Brand22\line6 ...,75.0,2018-12-21 15:56:16
1240,Brand\Brand22\line6 ...,75.0,2018-12-21 15:56:36
1241,Brand\Brand22\line6 ...,75.0,2018-12-21 15:56:56
1242,Brand\Brand22\line6 ...,75.0,2018-12-21 15:57:16
1243,Brand\Brand22\line6 ...,75.0,2018-12-21 15:57:36
1244,Brand\Brand22\line6 ...,75.0,2018-12-21 15:57:56
1245,Brand\Brand22\line6 ...,75.0,2018-12-21 15:58:16
1246,Brand\Brand22\line6 ...,75.0,2018-12-21 15:58:36
1247,Brand\Brand22\line6 ...,75.0,2018-12-21 15:58:56
1248,Brand\Brand22\line6 ...,75.0,2018-12-21 15:59:16
1249,Brand\Brand22\line6 ...,75.0,2018-12-21 15:59:36
1250,Brand\Brand22\line7 ...,0.0,2018-12-21 15:00:11
1251,Brand\Brand22\line7 ...,0.0,2018-12-21 15:06:12
1252,Brand\Brand22\line7 ...,0.0,2018-12-21 15:06:32